In [1]:
#Aditya Ranade, Austin Wang CSCI 183
# HW1 - Problem 1 - Python Basics

def sum_of_primes(n):
    # initialize the sum
    sum = 0
    #initialize the count
    count = 0
    # list of the prime numbers, everything starts as true
    primes = [True] * (n+1)
    
    i = 2
    # loop through list and check to see if number is prime or not
    while i*i <= n:
        if primes[i] == True:
            # all rest of the multiples will be false
            j = 2 * i 
            while j <= n:
                # setting the multiples of the true prime number to be false
                primes[j] = False 
                j = j + i # increment
        i = i + 1 # increment
    
    # calculating the sum by doing the for loop in range of
    for i in range(2, n + 1):
        if primes[i]:
            count = count + 1
            sum = sum + i
    print("Number of primes: ",count)
    print("Sum of primes: ", sum)

# print the number and the sum of the prime numbers, example
n = 10
sum_of_primes(n)

Number of primes:  4
Sum of primes:  17

In [2]:
# HW1 - Problem 2 - Python Basics

def max_product(ls):
    # using brute force method of calculating each product, comparing, and then
    # checking
    
    # initialize the product
    max_prod = 0
    # loop through the first index till the last index of the given list
    for i in range(0, len(ls)-1):
        # if product of adjacent values is greater than current max product
        if (ls[i] * ls[i+1]) > max_prod:
            # if yes, then replace it with the larger product
            max_prod = ls[i] * ls[i+1]
    # return max product
    return max_prod

# return the max product of adjacent integers in the list, example
ls = [5,6,1,5,7,8,9,1,2,3,5,7,8,2,9]
print(max_product(ls))

72

In [5]:
# HW1 - Problem 3 - Python Basics

import re

def is_valid(p):
    if not re.search("[A-Z]",p):
        return "Password does not contain a capital letter"
    elif not re.search("[a-z]",p):
        return "Password does not contain a lowercase letter"
    elif not re.search("[\^\$\*+?{}\[\]\|()!@#%]",p):
        return "Password does not contain a symbol"
    elif (len(p)<6 or len(p)>20):
        return "Password is not between 6 and 20 characters"
    else:
        return "Password is Valid!"

print(is_valid("sasssaa"))
print(is_valid("SASSSAA"))
print(is_valid("Sasssaa"))
print(is_valid("Sass!"))
print(is_valid("Sasssaa!"))

Password does not contain a capital letter
Password does not contain a lowercase letter
Password does not contain a symbol
Password is not between 6 and 20 characters
Password is Valid!

In [4]:
# HW1 - Problem 4 - Python Basics

import re

def is_strong(p):
    if (len(p)<9 or len(p)>20):
        return "Password is not between 9 and 20 characters"
    elif re.search('[\s+]', p) or re.search('[\n+]', p): 
        # don't really need the + because one instance of space of newline is
        # enough to make the password not strong
        return "Password cannot contain a newline or space"
    elif re.search('(.)\\1{2,}', p):
        return "Password cannot contain the same character three times in a row"
    elif re.search('(..)(.*)\\1', p):
        return "Password cannot contain a repeated pattern"
    else:
        return "Password is Strong!"

print(is_strong("Zingerr1"))
print(is_strong("Zingerr1 2345"))
print(is_strong("Zin\ngerr12345"))
print(is_strong("Zingerrr12345"))
print(is_strong("ZingerZi12345"))
print(is_strong("Zingerr12345"))

Password is not between 9 and 20 characters
Password cannot contain a newline or space
Password cannot contain a newline or space
Password cannot contain the same character three times in a row
Password cannot contain a repeated pattern
Password is Strong!

In [28]:
# HW1 - Problem 1 - Python for Data Science
import pandas as pd


# defining filepath to the CSV file
path = "cities.csv"

# read CSV file at filepath
data = pd.read_csv(path)
# print shape
print("shape of data", data.shape)

# print table
data

shape of data (128, 10)

,LatD,"""LatM""","""LatS""","""NS""","""LonD""","""LonM""","""LonS""","""EW""","""City""","""State"""
0,41,5,59,"""N""",80,39,0,"""W""","""Youngstown""",OH
1,42,52,48,"""N""",97,23,23,"""W""","""Yankton""",SD
2,46,35,59,"""N""",120,30,36,"""W""","""Yakima""",WA
3,42,16,12,"""N""",71,48,0,"""W""","""Worcester""",MA
4,43,37,48,"""N""",89,46,11,"""W""","""Wisconsin Dells""",WI
...,...,...,...,...,...,...,...,...,...,...
123,39,31,12,"""N""",119,48,35,"""W""","""Reno""",NV
124,50,25,11,"""N""",104,39,0,"""W""","""Regina""",SA
125,40,10,48,"""N""",122,14,23,"""W""","""Red Bluff""",CA
126,40,19,48,"""N""",75,55,48,"""W""","""Reading""",PA
127,41,9,35,"""N""",81,14,23,"""W""","""Ravenna""",OH

In [12]:
# HW1 - Problem 2 - Python for Data Science

# subset 1 
print("Printing Columns LatD, LonD, LatM, LonM:\n", data.iloc[:, [0, 4, 1, 5]])

# subset 2
print("Printing first 100 rows:\n", data[:100])

# subset 3
print(data.iloc[:10, [1, 2, 3]])

Printing Columns LatD, LonD, LatM, LonM:
      LatD   "LonD"   "LatM"   "LonM"
0      41       80        5       39
1      42       97       52       23
2      46      120       35       30
3      42       71       16       48
4      43       89       37       46
..    ...      ...      ...      ...
123    39      119       31       48
124    50      104       25       39
125    40      122       10       14
126    40       75       19       55
127    41       81        9       14

[128 rows x 4 columns]
Printing first 100 rows:
     LatD   "LatM"   "LatS"  "NS"   "LonD"   "LonM"   "LonS"  "EW"  \
0     41        5       59   "N"       80       39        0   "W"
1     42       52       48   "N"       97       23       23   "W"
2     46       35       59   "N"      120       30       36   "W"
3     42       16       12   "N"       71       48        0   "W"
4     43       37       48   "N"       89       46       11   "W"
..   ...      ...      ...   ...      ...      ...      ...   ...
95    31       27       35   "N"      100       26       24   "W"
96    40       45       35   "N"      111       52       47   "W"
97    38       22       11   "N"       75       35       59   "W"
98    36       40       11   "N"      121       39        0   "W"
99    38       50       24   "N"       97       36       36   "W"

                "City"  "State"
0         "Youngstown"       OH
1            "Yankton"       SD
2             "Yakima"       WA
3          "Worcester"       MA
4    "Wisconsin Dells"       WI
..                 ...      ...
95        "San Angelo"       TX
96    "Salt Lake City"       UT
97         "Salisbury"       MD
98           "Salinas"       CA
99            "Salina"       KS

[100 rows x 10 columns]
    "LatM"   "LatS"  "NS"
0        5       59   "N"
1       52       48   "N"
2       35       59   "N"
3       16       12   "N"
4       37       48   "N"
5        5       59   "N"
6       52       48   "N"
7       11       23   "N"
8       14       24   "N"
9       45        0   "N"

In [13]:
# HW1 - Problem 3 - Python for Data Science

subset1 = data.iloc[:, [0, 4, 8]]

print(subset1)
print(subset1.dtypes)

subset2 = data.iloc[:, [1, 5, 9]]
print(subset2)
print(subset2.dtypes)

     LatD   "LonD"              "City"
0      41       80        "Youngstown"
1      42       97           "Yankton"
2      46      120            "Yakima"
3      42       71         "Worcester"
4      43       89   "Wisconsin Dells"
..    ...      ...                 ...
123    39      119              "Reno"
124    50      104            "Regina"
125    40      122         "Red Bluff"
126    40       75           "Reading"
127    41       81           "Ravenna"

[128 rows x 3 columns]
LatD        int64
 "LonD"     int64
 "City"    object
dtype: object
      "LatM"   "LonM"  "State"
0          5       39       OH
1         52       23       SD
2         35       30       WA
3         16       48       MA
4         37       46       WI
..       ...      ...      ...
123       31       48       NV
124       25       39       SA
125       10       14       CA
126       19       55       PA
127        9       14      OH

[128 rows x 3 columns]
 "LatM"      int64
 "LonM"      int64
 "State"    object
dtype: object

In [22]:
# HW1 - Problem 4 - Python for Data Science

import pickle
import csv
import pandas as pd

with open("list_of_list.pkl", "rb") as fp:   
    b = pickle.load(fp)

with open('candy.csv', 'w', newline='') as csvfile: 
    # creating a csv writer object 
    csvwriter = csv.writer(csvfile) 
        
    # writing the data rows 
    csvwriter.writerows(b)

df = pd.read_csv('candy.csv')
df

,competitorname,chocolate,fruity,caramel,peanutyalmondy,nougat,crispedricewafer,hard,bar,pluribus,sugarpercent,pricepercent,winpercent
0,Mr Good Bar,y,n,n,y,n,n,n,y,n,0.313,0.918,54.526451
1,Chewey Lemonhead Fruit Mix,n,y,n,n,n,n,n,n,y,0.732,0.511,36.017628
2,Starburst,n,y,n,n,n,n,n,n,y,0.151,0.220,67.037628
3,Gobstopper,n,y,n,n,n,n,y,n,y,0.906,0.453,46.783348
4,Haribo Gold Bears,n,y,n,n,n,n,n,n,y,0.465,0.465,57.119740
...,...,...,...,...,...,...,...,...,...,...,...,...,...
80,Caramel Apple Pops,n,y,y,n,n,n,n,n,n,0.604,0.325,34.517681
81,Fun Dip,n,y,n,n,n,n,y,n,n,0.732,0.325,39.185505
82,Runts,n,y,n,n,n,n,y,n,y,0.872,0.279,42.849144
83,Dots,n,y,n,n,n,n,n,n,y,0.732,0.511,42.272076
84,Snickers,y,n,y,y,y,n,n,y,n,0.546,0.651,76.673782

In [23]:
# HW1 - Problem 5 - Python for Data Science
import pandas as pd
df = pd.DataFrame({'C1': [1, 4, 7],
                   'C2': [2, 5, 8],
                   'C3': [3, 6, 9]},
                  index=['R1', 'R2', 'R3'])
print(df)
print(df.to_dict())

    C1  C2  C3
R1   1   2   3
R2   4   5   6
R3   7   8   9
{'C1': {'R1': 1, 'R2': 4, 'R3': 7}, 'C2': {'R1': 2, 'R2': 5, 'R3': 8}, 'C3': {'R1': 3, 'R2': 6, 'R3': 9}}

In [31]:
# HW1 - Problem 6 - Python for Data Science


import re

def find_words_with_length(n):
    ls = []
    with open('Data Science.txt','r') as f:
        ls = f.read().split()
    for i in range(0, len(ls)):
        ls[i] = re.sub(r'[^\w\s]','',ls[i])
    ls = [x for x in ls if len(x) == n]
    ls = set(ls)
    ls = list(ls)
    return ls

print(find_words_with_length(3))
print(find_words_with_length(4))
print(find_words_with_length(10))

['and', 'Jim', 'the', 'now', 'big']
['Data', 'Gray', 'from', 'data', 'that', 'uses', 'with', 'many']
['statistics', 'techniques', 'technology', 'algorithms', 'structural', 'everything', 'understand', 'datadriven', 'scientific']

In [25]:
# HW1 - Problem 1 - Regular Expressions

import re

def find_z(s):
    if re.match('[^z]\w*z\w*[^z]', s):
        return "found z!"
    return "z not found!"
    
    
print(find_z("azzza"))
print(find_z("zaaaa"))
print(find_z("aaaaz"))
print(find_z("abczfgcaz"))

found z!
z not found!
z not found!
found z!

In [20]:
# HW1 - Problem 2 - Regular Expressions

def find_csci(s):
    return re.findall('(CSCI\s\d+)', s)
    
    
print(find_csci("CSCI 10 MATH 9 MATH 11 CSCI 60 CSCI 182"))
print(find_csci("CSCI AB MATH 9 MATH 11 CSC 60 CSCI 182"))

['CSCI 10', 'CSCI 60', 'CSCI 182']
['CSCI 182']