In [4]:
# HW1 - Problem 1 - Python Basics

def sum_of_primes(n):
    # initialize the sum
    sum = 0
    # list of the prime numbers, everything starts as true
    primes = [True] * (n+1)
    
    i = 2
    # loop through list and check to see if number is prime or not
    while i*i <= n:
        if primes[i] == True:
            # all rest of the multiples will be false
            j = 2 * i 
            while j <= n:
                # setting the multiples of the true prime number to be false
                primes[j] = False 
                j = j + i # increment
        i = i + 1 # increment
    
    # calculating the sum by doing the for loop in range of
    for i in range(2, n + 1):
        if primes[i]:
            sum = sum + i
    return sum

# return the sum of the prime numbers, example
n = 10
print(sum_of_primes(n))

17

In [5]:
# HW1 - Problem 2 - Python Basics

def max_product(ls):
    # using brute force method of calculating each product, comparing, and then
    # checking
    
    # initialize the product
    max_prod = 0
    # loop through the first index till the last index of the given list
    for i in range(0, len(ls)-1):
        # if product of adjacent values is greater than current max product
        if (ls[i] * ls[i+1]) > max_prod:
            # if yes, then replace it with the larger product
            max_prod = ls[i] * ls[i+1]
    # return max product
    return max_prod

# return the max product of adjacent integers in the list, example
ls = [5,6,1,5,7,8,9,1,2,3,5,7,8,2,9]
print(max_product(ls))

72

In [2]:
# HW1 - Problem 3 - Python Basics

import re

def is_valid(p):
    if not re.search("[A-Z]",p):
        return "Password does not contain a capital letter"
    elif not re.search("[a-z]",p):
        return "Password does not contain a lowercase letter"
    elif not re.search("[\^\$\*+?{}\[]|()]!@#%",p):
        return "Password does not contain a symbol"
    elif (len(p)<6 or len(p)>20):
        return "Password is not between 6 and 20 characters"
    else:
        return "Password is Valid!"

is_valid("Sasssaa")

Strong Password!

In [ ]:
# HW1 - Problem 4 - Python Basics

import re

def is_strong(p):
    if (len(p)<9 or len(p)>20):
        return "Password is not between 9 and 20 characters"
    elif re.search('[\s]',p) or re.search('\n',p):
        return "Password cannot be a newline or space"
    elif re.search(r'(.)\1{2,}', p):
        return "Password cannot contain the same character three times in a row"
    elif re.search(r'(..)(.*)\1', p):
        return "Password cannot contain a repeated pattern"
    else:
        return "Password is Strong!"

is_strong("Zinger12345")

In [11]:
import pandas as pd


# defining filepath to the CSV file
path = "datasets/cities.csv"

# read CSV file at filepath
data = pd.read_csv(path)
# print shape
print("shape of data", data.shape)

# print table
data

shape of data (128, 10)

,LatD,"""LatM""","""LatS""","""NS""","""LonD""","""LonM""","""LonS""","""EW""","""City""","""State"""
0,41,5,59,"""N""",80,39,0,"""W""","""Youngstown""",OH
1,42,52,48,"""N""",97,23,23,"""W""","""Yankton""",SD
2,46,35,59,"""N""",120,30,36,"""W""","""Yakima""",WA
3,42,16,12,"""N""",71,48,0,"""W""","""Worcester""",MA
4,43,37,48,"""N""",89,46,11,"""W""","""Wisconsin Dells""",WI
...,...,...,...,...,...,...,...,...,...,...
123,39,31,12,"""N""",119,48,35,"""W""","""Reno""",NV
124,50,25,11,"""N""",104,39,0,"""W""","""Regina""",SA
125,40,10,48,"""N""",122,14,23,"""W""","""Red Bluff""",CA
126,40,19,48,"""N""",75,55,48,"""W""","""Reading""",PA
127,41,9,35,"""N""",81,14,23,"""W""","""Ravenna""",OH

In [2]:
# HW1 - Problem 2 - Python for Data Science

# subset 1 
print("Printing Columns LatD, LonD, LatM, LonM:\n", data.iloc[:, [0, 4, 1, 5]])

# subset 2
print("Printing first 100 rows:\n", data[:100])

# subset 3
print(data.iloc[:10, [1, 2, 3]])

Printing Columns LatD, LonD, LatM, LonM:
      LatD   "LonD"   "LatM"   "LonM"
0      41       80        5       39
1      42       97       52       23
2      46      120       35       30
3      42       71       16       48
4      43       89       37       46
..    ...      ...      ...      ...
123    39      119       31       48
124    50      104       25       39
125    40      122       10       14
126    40       75       19       55
127    41       81        9       14

[128 rows x 4 columns]
Printing first 100 rows:
     LatD   "LatM"   "LatS"  "NS"   "LonD"   "LonM"   "LonS"  "EW"  \
0     41        5       59   "N"       80       39        0   "W"
1     42       52       48   "N"       97       23       23   "W"
2     46       35       59   "N"      120       30       36   "W"
3     42       16       12   "N"       71       48        0   "W"
4     43       37       48   "N"       89       46       11   "W"
..   ...      ...      ...   ...      ...      ...      ...   ...
95    31       27       35   "N"      100       26       24   "W"
96    40       45       35   "N"      111       52       47   "W"
97    38       22       11   "N"       75       35       59   "W"
98    36       40       11   "N"      121       39        0   "W"
99    38       50       24   "N"       97       36       36   "W"

                "City"  "State"
0         "Youngstown"       OH
1            "Yankton"       SD
2             "Yakima"       WA
3          "Worcester"       MA
4    "Wisconsin Dells"       WI
..                 ...      ...
95        "San Angelo"       TX
96    "Salt Lake City"       UT
97         "Salisbury"       MD
98           "Salinas"       CA
99            "Salina"       KS

[100 rows x 10 columns]
    "LatM"   "LatS"  "NS"
0        5       59   "N"
1       52       48   "N"
2       35       59   "N"
3       16       12   "N"
4       37       48   "N"
5        5       59   "N"
6       52       48   "N"
7       11       23   "N"
8       14       24   "N"
9       45        0   "N"

In [3]:
# HW1 - Problem 3 - Python for Data Science

subset1 = data.iloc[:, [0, 4, 8]]

print(subset1)
print(subset1.dtypes)

subset2 = data.iloc[:, [1, 5, 9]]
print(subset2)
print(subset2.dtypes)

     LatD   "LonD"              "City"
0      41       80        "Youngstown"
1      42       97           "Yankton"
2      46      120            "Yakima"
3      42       71         "Worcester"
4      43       89   "Wisconsin Dells"
..    ...      ...                 ...
123    39      119              "Reno"
124    50      104            "Regina"
125    40      122         "Red Bluff"
126    40       75           "Reading"
127    41       81           "Ravenna"

[128 rows x 3 columns]
LatD        int64
 "LonD"     int64
 "City"    object
dtype: object
      "LatM"   "LonM"  "State"
0          5       39       OH
1         52       23       SD
2         35       30       WA
3         16       48       MA
4         37       46       WI
..       ...      ...      ...
123       31       48       NV
124       25       39       SA
125       10       14       CA
126       19       55       PA
127        9       14      OH

[128 rows x 3 columns]
 "LatM"      int64
 "LonM"      int64
 "State"    object
dtype: object

In [ ]:
import pickle

with open("list_of_list.pkl", "rb") as fp:   
    b = pickle.load(fp)

In [13]:
#Regular Expressions

def find_z(s):
    if re.search(r'[^z]z[^z]', s):
        return "found z!"
    return "not found!"
    
    
print(find_z("aazzaa"))

not found!

In [17]:
def find_csci(s):
    return re.findall(r'(CSCI\s\d+)', s)
    
    
print(find_csci("CSCI 10 MATH 9 MATH 11 CSCI 60 CSCI 182"))

['CSCI 10', 'CSCI 60', 'CSCI 182']